<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

<title>EzCharge - Be earth friendly</title>

<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/EzCharge/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/EzCharge/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/EzCharge/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/EzCharge/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/EzCharge/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/EzCharge/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/EzCharge/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/EzCharge/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/EzCharge/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/EzCharge/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/EzCharge/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/EzCharge/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/EzCharge/favicon/favicon-16x16.png">
<link rel="manifest" href="/EzCharge/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- //favicons -->

<!-- DATATABLE -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://datatables.net/release-datatables/extensions/TableTools/css/dataTables.tableTools.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.2/css/fixedHeader.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.3.2/css/colReorder.dataTables.min.css">
<link rel="stylesheet" href="https://datatables.net/release-datatables/extensions/ColVis/css/dataTables.colVis.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
<!-- //DATATABLE -->

<!-- Bootstrap core CSS -->
<link href="/EzCharge/template/assets/css/bootstrap.css" rel="stylesheet">
<!--external css-->
<link href="/EzCharge/template/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="/EzCharge/template/assets/css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css" href="/EzCharge/template/assets/js/gritter/css/jquery.gritter.css"/>
<link rel="stylesheet" type="text/css" href="/EzCharge/template/assets/lineicons/style.css">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<!-- Custom styles for this template -->
<link href="/EzCharge/template/assets/css/style.css" rel="stylesheet">
<link href="/EzCharge/template/assets/css/style-responsive.css" rel="stylesheet">

<script src="/EzCharge/template/assets/js/chart-master/Chart.js"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->