<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'user/templates/headers.html' %}
</head>
<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    {% include 'user/templates/menu.html' %}
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Vos recharges pour {{contract_type}} <b>#{{contract_id}}</b> ({{plate}}) &nbsp
                <button onclick="location.reload()" type="button" class="btn btn-info"><i
                        class="fa fa-refresh"></i> Rafraichir
                </button>
            </h3>

            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover" id="charge">
                            <h4><i class="fa fa-angle-right"></i> Tableau des recharges &nbsp
                                <button onclick="toggleChargeList(this)" type="button" class="btn btn-success btn-default"><i class="fa fa-eye"></i></button>
                            </h4>
                            <hr>
                            <thead>
                            <tr>
                                <th><i class="fa fa-id-card-o"></i> Nom de la station</th>
                                <th><i class="fa fa-plug"></i> Puissance de la borne utilisée</th>
                                <th><i class="fa fa-battery-half"></i> Kw/H rechargés</th>
                                <th><i class="fa fa-calendar"></i> Date de la recharge</th>
                                <th><i class="fa fa-clock-o"></i> Heure de la recharge</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for terminal in terminals %}
                            <tr>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#viewStation"
                                            onclick="changeModalSource({{terminal.station_id}})"
                                            {% if loop.index == 1 %}
                                            data-step="1" data-intro="Hey ! Clique sur le bouton de la station pour avoir des informations dessus !"
                                            {% endif %}
                                            class="btn btn-xs btn-theme04">{{terminal.name}}
                                    </button>
                                </td>
                                <td>
                                    <span class="label label-info label-mini">{{terminal.power}}</span>
                                </td>
                                <td><span class="label label-warning label-mini">{{terminal.total_power}}</span></td>
                                <td>{{terminal.date|date('d/m/Y')}}</td>
                                <td>{{terminal.time}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->

            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <h4><i class="fa fa-angle-right"></i> Graphique des recharges &nbsp
                            <button onclick="toggleChart(this)" type="button" class="btn btn-default"><i
                                    class="fa fa-eye-slash"></i></button>
                        </h4>
                        <hr>
                        <div id="chart"></div>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->

        </section>
    </section>

    <!-- MODAL -->
    {% include 'modals/viewStation.html' %}
    <!-- //MODAL -->

    <!--main content end-->
</section>
{% include 'user/templates/footers.html' %}
<script>
    // twig inject content into js' vars
    var currentContract = {{contract_id}};
    var terminals = {{terminals_chart|json_encode|raw}};

    // basic js vars init
    var currentStation = {};
    var hintDisplayed = false;
    var isChargeListDisplayed = false;
    var isChartDisplayed = true;

    // hide charge table by default
    document.querySelector("table#charge").style.display = "none";

    /**
     * toggle charge list visibility
     * @param e
     */
    document.toggleChargeList = function (e) {
        if(!hintDisplayed){
            {% if show_hints %}
                setTimeout(function () {
                    introJs().start();
                }, 500);
            {% endif %}
            hintDisplayed = true;
        }

        if (isChargeListDisplayed) {
            e.querySelector("i").classList.remove('fa-eye-slash');
            e.querySelector("i").classList.add('fa-eye');
            e.classList.add('btn-success');
            document.querySelector("table#charge").style.display = "none";
        } else {
            e.querySelector("i").classList.remove('fa-eye');
            e.classList.remove('btn-success');
            e.querySelector("i").classList.add('fa-eye-slash');
            document.querySelector("table#charge").style.display = "table";
        }

        isChargeListDisplayed = !isChargeListDisplayed;
    };

    /**
     * toggle chart visibility
     * @param e
     */
    document.toggleChart = function (e) {
        if (isChartDisplayed) {
            e.querySelector("i").classList.remove('fa-eye-slash');
            e.querySelector("i").classList.add('fa-eye');
            e.classList.add('btn-success');
            document.querySelector("div#chart").style.display = "none";
        } else {
            e.querySelector("i").classList.remove('fa-eye');
            e.classList.remove('btn-success');
            e.querySelector("i").classList.add('fa-eye-slash');
            document.querySelector("div#chart").style.display = "table";
        }

        isChartDisplayed = !isChartDisplayed;
    };

    /**
     * change modal infos on station's click
     * @param station
     */
    document.changeModalSource = function (station) {
        var req = new XMLHttpRequest();
        req.open('GET', 'http://maps.googleapis.com/maps/api/geocode/json?latlng=' + document.stations[station]['lat'] + ',' + document.stations[station]['lon'] + '&sensor=true', true);
        req.onreadystatechange = function (e) {
            if (req.readyState == 4) {
                if (req.status == 200) {
                    document.querySelector("#stationAddress").innerHTML = JSON.parse(req.responseText).results[0].formatted_address;
                }
            }
        };
        req.send(null);
        currentStation.lat = document.stations[station].lat;
        currentStation.lon = document.stations[station].lon;
        document.querySelector("#stationName").innerHTML = document.stations[station].name;
        document.querySelector("#stationNb3").value = document.stations[station]['power_types'][3];
        document.querySelector("#stationNb24").value = document.stations[station]['power_types'][24];
        document.querySelector("#stationNb50").value = document.stations[station]['power_types'][50];
    };

    // call self route 'stations' for the selected contract, get all stations of the contract
    var req = new XMLHttpRequest();
    req.open('GET', location.origin + '/EzCharge/public/index.php/stations/' + currentContract, true);
    req.onreadystatechange = function (e) {
        if (req.readyState == 4) {
            if(req.status == 200){
                // assign stations to var
                document.stations = JSON.parse(req.responseText);
            }
        }
    };
    req.send(null);

    // init Morris chart with terminals data
    new Morris.Line({
        element: 'chart',
        data: terminals,
        xkey: 'date',
        ykeys: ['total_power'],
        labels: ['Kw/H Chargés']
    });

</script>

</body>
</html>
