<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'user/templates//headers.html' %}
</head>
<body>
<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    {% include 'user/templates//menu.html' %}
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Liste de vos contrats&nbsp <button onclick="window.location = 'refresh'" type="button" class="btn btn-info"><i class="fa fa-refresh"></i> Rafraichir</button></h3>
            {% if hasSubscription %}
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover" id="subscription">
                            <h4 data-step="1" data-intro="Dans ce tableau tu peux trouver tes abonnements, super non?"><i class="fa fa-angle-right"></i> Vos abonnements &nbsp<button data-step="3" data-intro="En plus avec l'oeil, tu peux cacher ou afficher le tableau !" onclick="toggleSubscription(this)" type="button" class="btn btn-default"><i class="fa fa-eye-slash"></i></button></h4>
                            <hr>
                            <thead>
                            <tr>
                                <th></th>
                                <th><i class="fa fa-calendar"></i> Date de creation de l'abonnement</th>
                                <th><i class="fa fa-check-circle-o"></i> Date de debut de l'abonnement</th>
                                <th><i class="fa fa-lock"></i> Date de fin d'abonnement</th>
                                <th><i class="fa fa-id-card-o"></i> Plaque d'immatriculation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in contracts if contract.type_id == 2 %}
                            <tr>
                                <td>
                                    {% if loop.first %}
                                        <button data-step="4" data-intro="Et enfin, tu peux cliquer sur cet icône pour voir les recharges relatives à un contrat." title="Liste des recharges" class="btn btn-info btn-s" onclick="window.location = 'contract/{{contract.id}}'"><i class="fa fa-battery-full"></i></button>
                                    {% endif %}

                                    {% if not loop.first %}
                                    <button title="Liste des recharges" class="btn btn-info btn-s" onclick="window.location = 'contract/{{contract.id}}'"><i class="fa fa-battery-full"></i></button>
                                    {% endif %}
                                </td>
                                <td>{{contract.created_at|date('d/m/Y')}}</td>
                                <td>{{contract.start|date('d/m/Y')}}</td>
                                <td>{{contract.end|date('d/m/Y')}}</td>
                                <td>{{contract.plate}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
            {% endif %}

            {% if hasPrepaid %}
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover" id="prepaid">
                            <h4 data-step="2" data-intro="Et par ici tes contrats prépayés !"><i class="fa fa-angle-right"></i> Vos Kw/H prépayés &nbsp<button onclick="togglePrepaid(this)" type="button" class="btn btn-default"><i class="fa fa-eye-slash"></i></button></h4>
                            <hr>
                            <thead>
                            <tr>
                                <th></th>
                                <th><i class="fa fa-calendar"></i> Date de creation du contrat prépayé</th>
                                <th><i class="fa fa-battery-half"></i> Puissance restante</th>
                                <th><i class="fa fa-id-card-o"></i> Plaque d'immatriculation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contract in contracts if contract.type_id == 1 %}
                            <tr>
                                <td>
                                    <button title="Liste des recharges" class="btn btn-info btn-s" onclick="window.location = 'contract/{{contract.id}}'"><i class="fa fa-battery-full"></i></button>
                                </td>
                                <td>{{contract.created_at|date('d/m/Y')}}</td>
                                <td>{{contract.remaining}}</td>
                                <td>{{contract.plate}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
            {% endif %}

            {% if not hasPrepaid and not hasSubscription %}
            <br>
            <div class="col-sm-12 alert alert-warning">
                <strong> Vous n'avez pas encore de contrat chez EzCharge.</strong>
            </div>
            {% endif %}

        </section>
    </section>
    <!--main content end-->
</section>
{% include 'user/templates/footers.html' %}
<script>
    var isSubscriptionDisplayed = true;
    var isPrepaidDisplayed = true;

    document.toggleSubscription = function (e) {
        if(isSubscriptionDisplayed){
            e.querySelector("i").classList.remove('fa-eye-slash');
            e.querySelector("i").classList.add('fa-eye');
            e.classList.add('btn-success');
            document.querySelector("table#subscription").style.display = "none";
        }else{
            e.querySelector("i").classList.remove('fa-eye');
            e.classList.remove('btn-success');
            e.querySelector("i").classList.add('fa-eye-slash');
            document.querySelector("table#subscription").style.display = "table";
        }

        isSubscriptionDisplayed = !isSubscriptionDisplayed;
    };

    document.togglePrepaid = function (e) {
        if(isPrepaidDisplayed){
            e.querySelector("i").classList.remove('fa-eye-slash');
            e.querySelector("i").classList.add('fa-eye');
            e.classList.add('btn-success');
            document.querySelector("table#prepaid").style.display = "none";
        }else{
            e.querySelector("i").classList.remove('fa-eye');
            e.classList.remove('btn-success');
            e.querySelector("i").classList.add('fa-eye-slash');
            document.querySelector("table#prepaid").style.display = "table";
        }

        isPrepaidDisplayed = !isPrepaidDisplayed;
    };

</script>

{% if show_hints %}
<script>
    introJs().start();
</script>
{% endif %}
</body>
</html>
